     * {
         margin: 0;
         padding: 0;
         box-sizing: content-box;
         font-family: "poppins", sans-serif;
     }

     body {
         background-color: #96deeb;
         position: relative;
         min-height: 100vh;
         width: 100vw;
     }

     .to-do {
         background-color: #ffffff;
         min-height: 500px;
         width: 300px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         box-shadow: 2px 8px 8px 2px rgba(41, 41, 41, 0.1);
         border-radius: 10px;
     }

     .header {
         background-color: #61a1eb;
         width: 100%;
         height: 60px;
         border-bottom-left-radius: 25%;
         border-bottom-right-radius: 25%;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         display: flex;
         justify-content: center;
         text-align: center;
         box-shadow: 2px 8px 8px 2px rgba(41, 41, 41, 0.1);
         margin-bottom: 10px;
     }

     .header p {
         color: #ffffff;
     }

     .footer {
         position: absolute;
         width: 100%;
         height: 60px;
         bottom: 0;
         display: flex;
         align-items: center;
         justify-content: space-around;
     }

     p {
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .main {
         display: flex;
         height: 80%;
         position: relative;
     }

     .all-list {
         height: 22rem;
         list-style: none;
         width: 100%;
         overflow: auto;
         z-index: 3;
     }

     .list {
         display: flex;
         width: calc(100% - 3px);
         justify-content: space-between;
         margin-top: 5px;
     }

     .btns {
         cursor: pointer;
         margin: 0;
         display: flex;
         width: 100px;
         justify-content: space-around;
     }

     input {
         outline: none;
         box-shadow: 2px 8px 8px 2px rgba(41, 41, 41, 0.1);
         border: 2px solid #61a1eb;
         padding: 5px;
         text-transform: capitalize;
         border-radius: 15px;
     }

     svg:hover {
         fill: #0a0404;
         cursor: pointer
     }

     .check {
        background-color:rgb(164, 255, 177);
     }
     .delete {
        background-color: rgba(255, 0, 0, 0.452);
        color: rgb(0, 0, 0);
     }

     .done {
        color: rgb(187, 187, 187);
        text-decoration: line-through;
     }